<i class="icon-{{icon}} icon-white icon-large" />
<div class="note arrow_box" style="display:none;">
<p>{{description}}</p>
{{#each sources}}
<a href="{{url}}">{{#if title}}{{title}}{{else}}{{url}}{{/if}}</a>
{{/each}}

{{#if isEdit}}
<i class="icon-trash" style="float:right"></i>
<i class="icon-edit" style="float:right"></i>
{{/if}}
<div style="clear:both;"></div>
</div>
