<i class="icon-{{icon}} icon-white icon-large" />
<div class="note arrow_box" style="display:none;">
{{#if isEdit}}
<i class="icon-edit" style="float:right"></i>
{{/if}}
{{description}}
{{#each sources}}
<BR /><a href="{{url}}">{{#if title}}{{title}}{{else}}{{url}}{{/if}}</a>
{{/each}}</div>
